<div class="container">
  <div class="post-section">
    <span>
      <h1>Club Posts</h1>
      <% if user_signed_in? %>
        <%= link_to 'New Post', new_post_path %>
      <% end %>
    </span>

    <% @posts.each do |post| %>
      <div class="">
        <p><%= post.body %></p>

      <% if user_signed_in? %>
      <section>
        <p>Author: <%= post.user.name %></p>
      </section>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
